/*---------------global----------------*/
body{
    width: 100%; /*1440px*/
    height: auto;
    background-color: #fffdf8;
}

.left{
    float: left;
}

img, video{
    max-width: 100%;
}

/*---------sections----------*/

.hero{
    width: 100vw; /*1440px*/
    height: 100vh;
    overflow: hidden;
}

.row{
    width: 100vw; /*1440px*/
    height: auto;
    overflow: hidden;
}

.headline-row{
    width: 100%;
    height: auto;
    margin-top: 75px;
    margin-bottom: 20px;
}

.gallery{
    width: 100%;
    height: auto;
    margin-top: 75px;
}


.bottom-nav{
    width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
}

.col-half{
    height: auto;
    width: 50%; /*720px*/
    overflow: hidden;
    float: left;
}


.col-2-third{
    height: auto;
    width: 66.6666666667%; /*960px*/
    float: left;
    overflow: hidden;
}

.col-1-third{
    width: 33.333333%; /*480px*/
    height: auto;
    float: left;
    overflow: hidden;
}

.hl-block{
    margin: 300px 5%;
    padding: 80px 60px;
    background-color:rgb(185, 58, 4, 75%);
    width: auto;
    height: auto;
    float: center;
}

.hl-block, h1{
    text-align: center;
}

.nav-menu{
    margin: auto;
    margin-top: 15%;
    width: 50%;
}

.nav-menu-item{
    margin: auto 10px;
}

/*--------height-------------*/

.height-400{
    height: 400px;
}

/*---------------images & shapes----------------*/

.habitat3{
    background-image: url(../images/habitat3.jpg);
    background-size: cover;
    background-position: bottom right;
    height: 400px;
    width: 50%;
}

.bullfinch4{
    background-image: url(../images/bullfinch4.jpg);
    background-size: cover;
    background-position: right top;
    height: 400px;
    width: 50%;
    margin-top: 15px;
}

.bullfinch7{
    background-image: url(../images/bullfinch7.jpg);
    background-size: cover;
    background-position: center right;
    height: 400px;
    width: 50%;
}

.bullfinch9{
    background-image: url(../images/bullfinch9.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 50%;
}

.logo{
    background-image: url(../images/logo.svg);
    float: left;
    height: 200px;
    width: 200px;
    margin-left:5.20833333333%; /*25px*/
}

.social-dot{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

/*---------------Colors----------------*/
/*---background colors----------*/

.bg-red{
    background-color: #B93A04;
}

.bg-black{
    background-color: #2F2C3D;
}

.bg-white{
    background-color: #fffdf8;
}

/*---typeface colors----------*/

.black{
    color: #2e2e2e;
}

.white{
    color: #fffdf8;
}

.red{
    color: #B93A04;
}

/*---------------Type----------------*/

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

body{
    font-size: 100%;
}

.headline-large{
    font-family: "Alan Sans", "Roboto", helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
}

.subheader-regular{
    font-family: "Alan Sans", "Roboto", helvetica, sans-serif;
    color:#B93A04;
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
    margin-top: 40px;
    margin-left: 25px;
}

.body-regular{
    font-family: "Roboto", helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    padding: 15px 25px;
}

/*---------------button----------------*/

.btn-01{
    font-family: "Roboto", helvetica, sans-serif;
    color:#fffdf8;
    border-style: none;
    border-radius: 50px;
    padding: 10px 50px;
    background-color:#B93A04;
    margin-top: 15px;
    margin-left: 25px;
}

.btn-01:hover{
    background-color: #83920F;
}